body {
    font-family: "Courier New", Courier, monospace
}
h1 {
    margin-top: 5%;
    padding-top: 3%;
    color: orangered;
}
.container {
    margin: 0 20%;
    text-align: center;
    background-color: bisque;
}
.quiz {
    display: block;
}
.start, .submit {
    font-family: "Courier New", Courier, monospace;
    background-color: navy;
    color: mintcream;
    outline: none;
    margin: 100px 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.start:hover, .submit:hover {
    background-color: orangered;
    cursor: pointer;
}
.submit {
    margin: 10% 0;
}
p {
    color: red;
}
label {
    padding-right: 10px;
    font-style: italic;
}
h4 {
    color: navy;
    padding: 10px;
    margin: 2% 5%;
}
@media only screen and (max-width: 800px) {
    .container{
        margin: 0;
    }
}